.banner {
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .bannerLogo {
    background: #44cfc6;
    background: linear-gradient(to bottom, #44cfc6 17%, #1d8282 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 30px;
  }
  .bannerLinks {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .bannerLink {
    font-size: 17px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
    transition: 0.3s all;
  }
  .bannerLink :hover {
    font-size: 17px;
    font-weight: 700;
    fill: #44cfc6;
    transition: 0.3s all;
  }
}
